* {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}

#calculator{
    display:flex;
    flex-direction: column;
}

#screens {
    display:flex;
    flex-direction:column;
    height:100%
}

#screens * {
    margin:2px;
    height: 72px;
    border:2px;
    padding-left:8px;
    border-style: solid;
    border-color:black;
}

#optionButtons {
    display: flex;
    flex-grow: 1;
}


.clrDelButtons{
    flex-grow: 1;
    margin: 2px;
}

#buttons {
    display:grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

#buttons * {
    margin:2px;
}